

img{
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}

html,
body{
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #252b42;
    font-weight: 500;
    font-family: Montserrat;
    text-decoration: none;
    list-style-type: none;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
}
._container{
    max-width: 1046px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}
/*----ШАПКА--------------------------------------------------------------------------------------------*/
.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container{
    display: flex;
    min-height: 104px;
    align-items: center;
}
.header__logo{
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    text-decoration: inherit;
}
.header__menu{
    margin: 0px 0px 0px 133px;
}
@media (max-width:992px) {
    .header__menu{
        margin: 0px 0px 0px 80px;
    }
}
@media (max-width:767px) {
    .header__menu{
        margin: 0px 0px 0px 40px;
    }
}
@media (max-width:479px) {
    .header__menu{
        margin: 0px 0px 0px 20px;
    }
}
.menu{

}
.menu__list{
    flex-wrap: wrap;
    display: flex;
}
.menu__item{
    list-style-type: none;
}
.menu__item:not(:last-child){
    margin: 0px 21px 0px 0px;
}
.menu__link{
    color: #737373;
    line-height: 171%;
    text-decoration: none;
    font-weight: 600;
}
@media (max-width:479px) {
    .menu__link{
        font-size: 18px;
    }
}